//* CSS Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}    

//// CSS Reset

$color-Dan: hsl(263, 55%, 52%);
$color-Jona: hsl(217, 19%, 35%);
$color-Pat: hsl(219, 29%, 14%);
$color-W: hsl(0, 0%, 100%);
$color-backg:hsl(0, 0%, 81%);
$color-light-gray-blue:hsl(210, 46%, 95%);

$font: 'Barlow Semi Condensed', sans-serif;

$fw-bold:600;
$fw-regular:600;

$padding-top:1rem;

@mixin font($fw){
    font-family: $font;
    font-weight: $fw;
}
@mixin grop($FG, $ling) {
    display: $FG;
    align-items: $ling;
}
@mixin box($back-color,$color:$color-W) {
    border-radius: .5rem;
    padding: 2rem;
    background-color: $back-color;
    color:$color;
}

body {
    font-family: $font;
    @include grop(grid, center);
    padding:3rem 2rem;
    background-color: $color-backg
}

.parent{
    @include grop(flex, stretch);
    flex-direction: column;
    gap: 1.5rem;
}
.cardDan{
    @include box($color-Dan);
    background-image: url("./../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}
.cardJona{
    @include box($color-Jona);
}
.cardJean{
    @include box($color-W,$color-Jona);
}
.cardPat{
    @include box($color-Pat);
}
.cardKira{
    @include box($color-W,$color-Jona);
}

p[class*="__dasc"]{
    padding-top: $padding-top;
    opacity: 70%;
    font-size: 13px;
    z-index: 3;
}
p[class*="__title"]{
    font-size: 1.2rem;
    font-weight: $fw-bold;
    padding-top: $padding-top;
}
h1{
    font-size: 12px;
}
.verfy{
    font-size: 10px;
    opacity: 50%;
}
.img-h{
    @include grop(flex,center );
    justify-content:start;
    gap: 1rem;
}
.salf-img{
    border-radius: 100%;
    width: 2rem;
}


@media (min-width:950px) {
  .parent {
    @include grop(grid,stretch);
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-template: 
    "dan dan jona kira"
    "jean pat pat kira";
  }
  .cardDan{
    grid-area: dan;
    position: static;
  }
  .cardJona{
    grid-area: jona;
  }
  .cardJean{
    grid-area: jean;
  }
  .cardPat{
    grid-area: pat;
  }
  .cardKira{
    grid-area: kira;
  }
}